[Unit]
Description=generate-index html

[Service]
User=webgen
Group=webgen

#Specify the file path of the script to execute when the service starts
ExecStart=/var/lib/webgen/bin/generate_index

#Service stays active state even after the main process has completed.
RemainAfterExit=yes

#Automatically restarts the service if it exits with a failure
Restart=on-failure


[Install]
# Service starts during system boot and access the non-graphic multi-user mode
WantedBy=multi-user.target
